.container {
    width: 1152px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.min-height {
    min-height: 75%;
}


.start {
    justify-content: flex-start;
}

.column {
    width: 1100px;
    flex-direction: column;
    justify-content: flex-start;
}